<%- include("../includes/header.ejs") %>
  </head>

  <body>
    <%- include("../includes/navbar.ejs") %>
    <main >
      <div class="container mt-4">
        <h1>Your Shopping Cart</h1>
        <hr />
        <% if (products.length > 0) { %>
        <table class="table centered">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach(({id, imageUrl, title, price, cartItem: {quantity} }) => { %>
            <tr>
              <td>
                <img
                  src="<%= imageUrl %>"
                  alt="<%= title %>"
                  style="width: 50px; height: auto"
                />
              <td><%= title %></td>
              <td><%= quantity %></td>
              <td>$<%= price %></td>
              <td>
                <form
                  action="/cart-delete-item"
                  method="POST"
                  style="display: inline"
                >
                  <input
                    type="hidden"
                    name="productId"
                    value="<%= id %>"
                  />
                  <button type="submit" class="btn btn-danger btn-sm">
                    Remove
                  </button>
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <div>
          <form action="/create-order" method="post">
            <button type="submit" class="btn">Checkout</button>
          </form>
        </div>
        <% } else { %>
        <p>Your cart is empty.</p>
        <% } %>
      </div>
<%- include("../includes/footer.ejs") %>